services:
  app:
    build:
      context: ../../
      dockerfile: ./env/prod/Dockerfile.bun
    image: design-system-showcase:latest
    pull_policy: build
    container_name: design-system-showcase
    restart: unless-stopped
    networks:
      - design-system-showcase-external
    ports:
      - "80:80"
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: "0.5"
        reservations:
          memory: 256M
          cpus: "0.25"

networks:
  design-system-showcase-external:
    driver: bridge
